name: dashed_rect
description: This package allows you to draw dotted lines with Flutter. You can draw a beautiful
  dotted line around any widget.
version: 0.0.2
homepage: https://github.com/champ96k/DashedRect

environment:
  sdk: ">=2.12.0 <3.0.0"
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^1.0.0

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:

